<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Barcostudio_sql.Properties.Settings.bdregistroescConnectionString"
            connectionString="Data Source=DESKTOP-GD5MVN2\BARCO;Initial Catalog=bdregistroesc;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>